body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 10px;
}

.cv_entry {
  border: 1px solid black;
  background: lightgreen;
}

.cv-entry-degree {
  font-weight: bold;
}

.cv-entry-location {
  text-align: end;
  font-size: small;
}

.cv-entry-description {
  font-size: small;
  font-style: italic;
}
